// Colors
$black: #3c3c3b;
$white: #fff;
$light-grey: #e7e7e7;
$medium-grey: #cecece;
$dark-grey: #5c5c5c;

// CI colors
$br-blue: #007bc2;
$blue: #102087;
$yellow: #f7c30b;

$wrong: #e24307;
$correct: #a6e207;

// Social Media colors
$facebook-blue: #3b5998;
$twitter-blue: #4099ff;
$whatsapp-green: #4dc247;
$linkedin-blue: #007bb5;
$instagram-blue: #125688;
$mail-red: #cb2323;

.light-grey {
  color: $light-grey;
}

.dark-grey {
  color: $dark-grey;
}

.br-blue {
  color: $br-blue;
}
