.draw {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  svg {
    overflow: visible;
  }

  text {
    font-weight: normal;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 15px;
  }

  circle {
    stroke: none;
    transform: scale(1);
  }

  path {
    fill: none;
  }

  .canvas {
    stroke: none;
    fill: $white;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .x-axis, .y-axis {
    line, path {
      stroke: $medium-grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }
  }

  .y-axis {
    .tick:first-of-type {
      display: none;
    }
  }

  .previous, .current, .user, .hint {
    text {
      font-weight: bold;
      stroke: $white;
      stroke-width: 5;
      paint-order: stroke;
    }
  }

  .hint {
    path {
      stroke: $black;
      stroke-width: 2;
      fill: $white;
    }

    text {
      fill: $black;
      font-weight: normal;
    }
  }

  .previous {
    circle {
      fill: $blue;
    }

    path {
      stroke-width: 4;
      stroke: $blue;
    }

    text {
      fill: $blue;
    }
  }

  .current {
    circle {
      fill: $yellow;
    }

    path {
      stroke-width: 4;
      stroke: $yellow;
    }

    text {
      fill: $yellow;
    }
  }

  .user {
    circle {
      fill: $black;
    }

    path {
      stroke: $black;
      stroke-width: 4;
      stroke-dasharray: 1 7;
      stroke-linecap: round;
    }

    text {
      fill: $black;
    }
  }

  .pulse {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: pulse;
    transition-timing-function: ease;
  }

  .move {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: move;
    transition-timing-function: ease;
  }

  @keyframes pulse {
    from { transform: scale(1); opacity: 1; }
    to { transform: scale(3); opacity: 0; }
  }

  @keyframes move {
    0% { transform: translate(5px, 10px); opacity: 1; }
    50% { transform: translate(120px, 25px); opacity: .9; }
    75% { transform: translate(290px, 20px); opacity: 0; }
    100% { transform: translate(290px, 20px); opacity: 0; }
  }
}
