.guess {

  .content {
    margin-bottom: 2em;
  }

  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 8px 0;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: $yellow;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: $blue;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: $blue;
  }
  input[type=range]::-moz-range-thumb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: $blue;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: $yellow;
  }
  input[type=range]::-ms-fill-upper {
    background: $yellow;
  }
  input[type=range]::-ms-thumb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #102087;
    cursor: pointer;
    height: 10px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $yellow;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: $yellow;
  }
}
