.guess {

  .content {
    margin-bottom: 2em;
  }

  .value {
    position: relative;
    width: 36px;
    height: 36px;
    margin-left: -18px;
    margin-bottom: 9px;
    line-height: 36px;
    text-align: center;
    color: $white;
  }

  .droplet {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 36px;
    height: 36px;
    border-top-left-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(-135deg);
    background: $blue;
  }

  .ticks {
    display: flex;
    justify-content: space-between;
    padding: 0 14.5px;

    div {
      position: relative;
      display: flex;
      justify-content: center;
      text-align: center;
      white-space: nowrap;
      width: 1px;
      background: $dark-grey;
      height: 10px;
      line-height: 40px;
      margin: 0 0 20px 0;
    }
  }
}
