.quiz {

  .content {
    margin-bottom: 1.5em;
  }

  .button {
    color: $black;
    background: $yellow;
    text-align: center;
    width: calc(50% - 1em);

    @include tablet {
      width: 100%;
    }

    &:hover {
      color: $white;
      background: $blue;
    }

    &.correct {
      background: $correct;
    }

    &.wrong {
      color: $white;
      background: $wrong;
    }
  }
}
