.sort {

  ul, ol {
    padding: 1.1em;
  }

  .content {
    margin-bottom: 1.5em;
  }

  .button {
    color: $black;
    background: $yellow;
    margin-left: .5em;

    i {
      margin-right: .25em;

      &.icon-cancel {
        color: $wrong;
      }

      &.icon-ok {
        color: #699000;
      }
    }
  }

  .moving {
    .button {
      color: $white;
      background: $blue;
    }
  }
}
